/** The font style of the entire site. */
body {
	background-color: #ffffff; 
}

INPUT, SELECT, TEXTAREA, .subtitleBold, .normal, .formHeader, .inspirationText, .inspirationFooter, .inspirationHeader, .normalSmall, .titleBold, .normalRed, A, A:hover, A.smallLink, A.smallLink:hover {
	font-family: Arial, Helvetica, sans-serif; /** {Main_Font_Family} */
}

/** The size of most 'average' text. */

.normal, .normalRed, A, A:hover {
	font-size: 12px; /** {Regular_Text} */
}

.normal
{
	color: black; /** {Regular_Text} */
}

INPUT
{
	font-size: 12px; /** {INPUT_Text} */
	color: black; /** {INPUT_Text} */
}

SELECT
{
	font-size: 12px; /** {SELECT_Text} */
	color: black;  /** {SELECT_Text} */
}

TEXTAREA
{
	font-size: 12px; /** {TEXTAREA_Text} */
	color: black;  /** {TEXTAREA_Text} */
}

A.smallLink, .normalSmall { 
	font-size: 11px; /** {Small_Links} */
	color: #114D9D; /** {Small_Links} */
	text-decoration: none; /** {Small_Links} */
}

A.smallLink:hover{ 
	font-size: 11px; /** {Small_Links_Hover} */
	text-decoration: none; /** {Small_Links_Hover} */
	color: #6699CC;/** {Small_Links_Hover} */
}

A, .menu_low  {
	color: #114D9D; /** {Regular_Links} */
	text-decoration: underline; /** {Regular_Links} */
	font-weight: normal;
}

A:hover, .menu_highlighted  {
	color: #6699CC; /** {Regular_Links_Hover} */
	text-decoration: underline; /** {Regular_Links} */
}

.formHeader 
{
	font-size: 12px; /** {Form_Header} */
	padding: 4px;
	background-color: #EEEEEE; /** {Form_Header} */
	color: #217CD3; /** {Form_Header} */
	font-weight: bold; /** {Form_Header} */
}

.white {
	background-color: #FFFFFF; /** {Form_Backgounds} */
}

.menu_highlighted {
	background-color: white; /** {Menu_Highlighted} */
	font-weight: normal; /** {Menu_Highlighted} */
}

.menu_low {
	background-color: white; /** {Menu_Low} */
	font-weight: normal; /** {Menu_Low} */
}

/** The header background color and size. */

.inspirationHeader, .headerBackground {
	font-size: 14px; /** {Inspiration_Header} */
	font-weight: bold; /** {Inspiration_Header} */
	background-color: #EEEEEE; /** {Inspiration_Header} */
	color: #217CD3; /** {Inspiration_Header} */
	padding-top: 5px; /** {Inspiration_Header} */
	padding-bottom: 5px; /** {Inspiration_Header} */
	padding-left: 5px; /** {Inspiration_Header} */
	padding-right: 5px; /** {Inspiration_Header} */
	text-align: left;  /** {Inspiration_Header} */
	vertical-align: top; /** {Inspiration_Header} */
}

.titleBold {
	font-size: 36px;
	font-weight: bolder;

}
.normalRed {
	color: #FF0000;
}



.subtitleBold {
	font-size: 16px;
	font-weight: bold;
}

.background {
	background-image: url("images/background.gif");
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #F8FCFE;  /** {Background} */
}

.border {
	background-color: #003399; /** {Border} */
}

table.clear { background: #D8EDFC;  border: 1px solid #66CCCC;  }

form { margin:0; padding:0; }

.bottom-border {
	font-size: 12px;
	color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEEEEE;
}